<input type="text" [(ngModel)]="firstNameInput">
<input type="text" [(ngModel)]="lastNameInput">
<input type="number" [(ngModel)]="birthYearInput">
<input type="number" [(ngModel)]="deathYearInput">
<input type="text" [(ngModel)]="descriptionInput">
<button (click)="addDictator(firstNameInput, lastNameInput, birthYearInput, deathYearInput, descriptionInput)" type="button" class="btn btn-success btn-sm">Add to list</button>


<table class="table table-hover">
    <thead class="table-boderless table-secondary">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Birth Year</th>
            <th scope="col">Death Year</th>
            <th scope="col">Description</th> 
            <th scope="col">Action</th> 
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let dictator of dictators index as i">
            <td>{{ dictator.firstName }}</td>
            <td>{{ dictator.lastName }}</td>
            <td>{{ dictator.birthYear }}</td>
            <td>{{ dictator.deathYear }}</td>
            <td>{{ dictator.description }}</td>
            <td>
                <button (click)="deleteDictator(i)" type="button" class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>
    </tbody>

</table>