<p>dictators works!</p>


<div>

<table>

    <thead>
        <th class="header" scope="col">Index</th>
        <th class="header" scope="col">First Name</th>
        <th class="header" scope="col">Last Name</th>
        <th class="header" scope="col">Birth Year</th>
        <th class="header" scope="col">Death Year</th>
        <th class="header" scope="col">Description</th>
    </thead>

    <tbody>
        <tr *ngFor="">
            <td scope="row">{{ 'i' + 1 }}</td>
            <td scope="row">{{ 'First Name' }}</td>
            <td scope="row">{{ 'Last Name' }}</td>
            <td scope="row">{{ 'Birth Year' }}</td>
            <td scope="row">{{ 'Death Year' }}</td>
            <td scope="row">{{ 'Description' }}</td>
        </tr>
    </tbody>

</table>

</div>